@font-face {
    font-family: Goozette;
    src: url(fonts/Goozette.otf);
    font-weight: normal;
}

@font-face {
    font-family: InriaSans;
    src: url(fonts/InriaSans-Light.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: InriaSans;
    src: url(fonts/InriaSans-LightItalic.ttf);
    font-style: italic;
    font-weight: lighter;
}

@font-face {
    font-family: InriaSerif;
    src: url(fonts/InriaSerif-LightItalic.ttf);
    font-style: italic;
    font-weight: lighter;
}

@font-face {
    font-family: PunkNova;
    src: url(fonts/punknova-regular.otf);
}

@font-face {
    font-family: FerriteCore;
    src: url(fonts/FerriteCoreDX-Regular.otf);
}

@font-face {
    font-family: Autopia;
    src: url(fonts/Autopia-Regular.ttf);
}

html, body {
    font-family: InriaSans;
    color: #222;
    font-size: 24px;
    margin: 0px;
    font-weight: lighter;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(to left top, #1e4258, #1c3c54, #1a364f, #18314a, #172b45, #182a45, #1a2946, #1c2846, #212c4c, #262f52, #2b3358, #30375e);
  background-attachment: fixed;
}


/* HEADER */
.banner {
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  width: 100%;
  flex-wrap: wrap;
  z-index: 48;
  background: linear-gradient(rgba(22, 35, 62, 0.8), rgba(0, 0, 0, 0));
}

#title {
  font-family: Goozette;
  font-weight: bold;
  font-size: 5.3vw;
  width: 29vw;
  margin: 10px;
  z-index: 52;
  color: #fff;
  opacity: 0.8;
}

a {
  z-index: 50;
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
}

#allSections {
  display: block;
  height: 100%;
}

/* Fade-In Effect */
.visible {
    visibility: visible;
    opacity: 1;
    transition: all 1s ease-in;
}
/* Fade-Out Effect */
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out;
}

#toc {
  display: block;
  margin-top: 40vh;
  z-index: 50;
}

.contents {
  margin: 11vh 15vw;
}

h1 {
  font-family: Goozette;
  font-weight: lighter;
  font-stretch: expanded;
  font-size: 6.1vh;
  color: white;
  opacity: 0.8;
}

.contents h1 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.contents p {
  font-style: italic;
  font-size: 2vh;
  color: #d3d3d3;
  display: inline;
}

#vid {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

iframe {
  width: 960px;
  height: 540px;
}


h2 {
  font-family: Goozette;
  text-align: center;
  font-size: 7vh;
  color: #d3d3d3;
  margin-block-start: 10vh;
  margin-block-end: 0px;
  z-index: 50;
  width: 42vw;
}

.textSection {
  margin-top: 40vh;
  display: block;
  height: auto;
}

.textSection h1 {
  top: 10px;
  width: 42vw;
  position: sticky;
  z-index: 49;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textSection p {
  width: 42vw;
  color: #d3d3d3;
  font-family: InriaSans;
  font-stretch: condensed;
  font-size: 2.3vh;
  font-weight: lighter;
  line-height: 3vh;
}

.gameText p {
  font-style: italic;
  text-align: center;
  width: 30vw;
  font-size: 2.1vh;
  line-height: 2.8vh;
  font-family: InriaSerif;
}

img {
  max-width: 100%;
  height: auto;
  transition: filter 1s linear;
}

.imgRow {
  width: 55vw;
  display: flex;
  margin: 8vh 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.imgRow img {
  width: 25vw;
}

.imgRowCenter {
  display: flex;
  margin: 8vh 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.imgStickyBg {
  position: sticky;
  width: 80vw;
  top: 15vh;
  z-index: -1;
  margin: 8vh 0;
}

.textWidth {
  width: 42vw;
}

video {
  max-width: 100%;
  height: auto;
}

h3 {
  text-align: left;
  font-family: Goozette;
  font-size: 4vh;
  color: #d3d3d3;
  margin-top: 10vh;
  width: 42vw;
}

.blur {
  filter: blur(7px) brightness(60%) saturate(60%);
}

#vivariumBlur {
  margin-top: 10vh;
}

#vivariumBlur p {
  color: white;
}

#game1 h2 {
  font-family: PunkNova;
  font-size: 5vh;
}

#game2 h2 {
  font-family: FerriteCore;
  font-size: 3.5vh;
}

#game3 h2 {
  font-family: Autopia;
  letter-spacing: 0.4vh;
  font-size: 4.7vh;
}

#act3 {
  margin-bottom: 40vh;
}
