@font-face {
  font-family: WalterAlte;
  src: url("../fonts/ABCWalterAlte-Rauchwaren.woff2");
}

@font-face {
  font-family: "Kapitol";
  src: url("../fonts/Kapitol-Regular.woff2");
}

@font-face {
  font-family: "Kapitol";
  src: url("../fonts/Kapitol-Medium.otf");
  font-weight: bolder;
}

html,
body {
  scroll-behavior: smooth;
  font-family: WalterAlte, Helvetica, Arial, sans-serif;
  color: #747C74;
  font-size: 1.15rem;
  margin: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: all 0.5s ease;
  background: #000;
  width: 100vw;
  height: 100vh;
}

a {
  color: #1F2020;
  transition: all 0.5s ease;
  text-decoration: none;
}

a:hover {
  color: #D4D3A6;
  text-shadow: 0px 3px 5px #9AFE27;
}

h3 {
  font-family: "Kapitol", Helvetica, Arial, sans-serif;
}


h3 {
  color:#9AFE27;
  font-size: 3.5rem;
  padding: 0;
  margin: 0;
  text-align: center;
}

/* HEADER */

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

/* .model {
  z-index: 400;
  position: absolute;

} */

.logo {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 3;

}

.logo a {
  padding: 0px 20px;
}

.logo img {
  filter: drop-shadow(3px 3px 10px #9AFE27);
  width: 100%;
}

.logo-alt {
  height: 3vw;
  width: 6vw;
  padding-top: 3.5vw;
  position: fixed;

}

.logo-alt img {
  max-height: 4vw;
}

model-viewer {
  height: 300px;
  width: 600px;
}

.grad {
  grid-column: 1/2;
  grid-row: 1/2;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(31, 31, 31, 0.2637429972) 54%, rgba(8, 8, 8, 0.7007177871) 79%, rgb(0, 0, 0) 100%);
  z-index: 2;
}

.sec0 {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 1;
}

/* MAIN */

main {
  background: url("../img/bgGrid.PNG") no-repeat center bottom;
  background-size: cover;
}
.sec1 {
  color: #D4D3A6;
}

/* CONTENT */
.mItem {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 1px solid #9AFE27;
  background: none;
  transition: border-color 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
}

.mNav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  /* padding-bottom: 50px; */
}

.mArrow {
  width: 50px;
  height: 50px;
}

.mArrow svg {
  fill: #9AFE27;
  transition: all 0.5s ease;
}

/* PAGE SPECIFIC */
.sec_SS {
  background: url('../img/matrix/ss_1.png')no-repeat center center;
  background-size: cover;
}
.sec_CN {
  background: url('../img/matrix/cn_1.png')no-repeat center center;
  background-size: cover;
}
.sec_CS {
  background: url('../img/matrix/cs_0.png')no-repeat center center;
  background-size: cover;
}
.sec_OC {
  background: url('../img/matrix/oc_0.png')no-repeat center center;
  background-size: cover;
}
.sec_WC {
  background: url('../img/matrix/wc_1.png')no-repeat center center;
  background-size: cover;
}
.sec_MMARPG {
  background: url('../img/Orbv1.png')no-repeat center center;
  background-size: cover;
}




/* REPEATED STYLES */

.content {
  max-width: 75%;
  padding: 15vw 10vw;
  text-align: left;
}

.fullPage {
  min-width: 100%;
  min-height: 100%;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
      transform: translate(0, 0px);
  }

  50% {
      transform: translate(0, 15px);
  }

  100% {
      transform: translate(0, 0px);
  }
}


/* RESPONSIVE */

@media (max-width: 1350px) {

  h3 {
      font-size: 2.25rem;
  }

}

@media (max-width: 1200px) {
  h3 {
      font-size: 2rem;
  }

  .mItem {
      width: 130px;
      height: 130px;
  }

}

@media (max-width: 960px) {

  h3 {
      padding-bottom: 30px;
  }

  .logo img {
      max-height: 6vw;
      padding-top: 30px;
  }
  .logo-alt {
    position:relative;

  }
  .content {
      max-width: 100%;
  }

}

@media (max-width: 650px) {


  .mItem {
      width: 180px;
      height: 180px;
  }




}
