// FONTS
@font-face {
    font-family: "Walter Alte";
    src: url('../fonts/ABCWalterAlte-Rauchwaren.woff2');
}

@font-face {
    font-family: "Kapitol";
    src: url('../fonts/Kapitol-Regular.woff2');
}

$walterAlte: "Walter Alte",
Helvetica,
Arial,
sans-serif;

$Kapitol: "Kapitol",
Helvetica,
Arial,
sans-serif;

// COLORS
$primaryClr: #1F2020;
$secondClr: #9AFE27;
$thirdClr: #D4D3A6;
$bgClr: #747C74;
$txtClr: #ffffff;

// SIZES
$fontSize: 1.25rem;

// TRANSITIONS
$defaultTrans: all .7s ease;

html,
body {
    scroll-behavior: smooth;
    font-family: $walterAlte;
    font-stretch: condensed;
    color: $primaryClr;
    font-size: $fontSize;
    margin: 0px;
    background: $bgClr;
    overflow-x: hidden;
    transition: all 0.5s ease;


}

a {
    color: $primaryClr;
    transition: all 0.5s ease;
    text-decoration: none;


}

a:hover {
    color: $thirdClr;
    text-shadow: 0px 3px 5px $secondClr;
}

h1, h2, h3 {
    font-family: $Kapitol;
}

h2 {
    font-size: 3rem;
    padding: 0;
    margin: 0;
    line-height: 4.25rem;
}
h3{
    font-size: 1.35rem;
    padding: 0;
    margin: 0;
}

.hiLight {
    color: $secondClr;
}

.header {
    height: 100%;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .8s cubic-bezier(0.42, 0, 0.15, 1.4);
    z-index: 100;

}

.header-alt {
    position: fixed;
    transition: transform .8s cubic-bezier(0.42, 0, 0.15, 1.4);
    z-index: 100;
}

.header img {
    transition: $defaultTrans;
    padding: 20px 60px;
    height: 15vh;
}

.header-alt img {
    height: 5vh;
    padding: 30px 50px;
}


img {
    filter: drop-shadow(0px 3px 2px $secondClr);
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.browser {
    width: 100%;
    height: 100%;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

}

.firstSec {
    position: relative;
}
.essaySection {
    position: relative;
}


.title {
    background: url('../img/Orbv1.png') no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.gradientTop {
    position: absolute;
    height: 150%;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 55%, rgba(8, 8, 8, 1) 62%, $bgClr 100%);
    z-index: 3;
}
.gradientBot {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(116,124,116);
    background: linear-gradient(180deg, rgba(116,124,116,1) 0%, rgba(116,124,116,1) 20%, rgba(27, 28, 27, 0.886) 74%, rgba(8,8,8,1) 90%, rgba(0,0,0,1) 100%);
    z-index: 0;
}

.info {
    background: $bgClr;
}

.infoText {
    z-index: 5;
    padding: 50px;
    gap: 3rem;
    text-align: justify;
}


.vidCont {
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.vidCont iframe {
    width: 80%;
    height: 80%;
    border: $primaryClr solid 6px;
    filter: drop-shadow(0px 0px 30px $secondClr);

}
.matrix {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.column {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mTitle {
    height: 80px;
}

.mItem {
    position: relative;
    width: 200px;
    height: 200px;
    border: 2px solid $primaryClr;
    border-radius: 50%;
}

.text {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $thirdClr;
    font-size: 20px;
}

.column a {
    text-decoration: none;
}


.image {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
}

.mItem:hover .overlay {
    opacity: 1;
}

.mItem:hover .text {
    opacity: 0;
}

.creditSection {
    background: url('../img/bgGrid.PNG') no-repeat center bottom;
    background-size: cover;
    color: $bgClr;
    font-family: $walterAlte;
    font-weight: normal;
}

 .credits {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px 50px;
    justify-content: space-evenly;

  }
  
  .box {
    width: 16vw;
  }

  .box b{
    color: $thirdClr;
  }
  
  .email {
   width: 100%;
   margin-top: 10vh;
  }
  .email div {
    padding: 0px 50px;
    color: $secondClr;
  }