// FONTS
$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;

// COLORS
$primaryClr: #1F2020;
$secondClr: #9AFE27;
$thirdClr: #D4D3A6;
$bgClr: #747C74;
$txtClr: #ffffff;

// SIZES
$fontSize: 1.25rem;

// TRANSITIONS
$time: 0.2s;


html, body {
    scroll-behavior: smooth;
    font-family: Arial;
    font-stretch: condensed;
    color: #fff;
    font-size: $fontSize;
    margin: 0px;
    background: $bgClr;
}

main {
    width: 100vw;
    height: 100vh;
}


section {
    width: 100%;
    height: 100%;
}

header {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $time;
}

#title {
    width: 100%;
    height: 100vh;
    // background: red;
}