@font-face {
  font-family: WalterAlte;
  src: url("../fonts/ABCWalterAlte-Rauchwaren.woff2");
}

@font-face {
  font-family: "Kapitol";
  src: url("../fonts/Kapitol-Regular.woff2");
  font-weight: normal;
}

@font-face {
  font-family: "KapitolMedium";
  src: url("../fonts/Kapitol-Medium.otf");
}

@font-face {
  font-family: "KapitolSemiBold";
  src: url("../fonts/Kapitol-SemiBold.otf");
}

html,
body {
  scroll-behavior: smooth;
  font-family: WalterAlte, Helvetica, Arial, sans-serif;
  color: #747C74;
  font-size: 1.15rem;
  margin: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: all 0.5s ease;
  width: 100vw;
  height: 100vh;
}

body {
  background-image: url("../img/bgGrid.PNG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: #1F2020;
  transition: all 0.5s ease;
  text-decoration: none;
}

a:hover {
  color: #D4D3A6;
  text-shadow: 0 0 5px #9AFE27, 0 0 10px #9AFE27
}

h1,
h3,
h4 {
  font-family: "Kapitol", Helvetica, Arial, sans-serif;
}

h2 {
  font-family: WalterAlte;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 3.4vw;
  padding: 0;
  margin: 0;
  font-family: "KapitolSemiBold";
}

h4 {
  font-size: 2vw;
  padding: 0;
  margin: 0;
  font-family: "KapitolMedium";
  text-align: center;
  font-weight: normal;
}

/* HEADER */

.header {
  display: flex;
  flex-direction: row;
}

.logo {
  height: 100vh;
}

.logo model-viewer {
  width: 90%;
  height: 90%;
}

.grad {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 2;
}

.sec0 {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 1;
}

/* CAROUSEL */


/* MAIN */

.sec1 .content {
  margin-top: 0;
  max-width: 100%;
  padding: 3vw;
  text-align: left;
  text-shadow: 0 0 15px #9AFE27;
  border: 1.5px solid #9AFE27;
  border-radius: 75px;
}

.sec1 h4 {
  text-align: left;
}

.half {
  width: 48%;
}

.sec1,
.sec1 a {
  color: #9AFE27;
}

.sec3 {
  height: auto;
}


/* MATRIX */

.sec2 .content {
  max-width: 68vw;
}

.matrixWrapper {
  background: linear-gradient(190deg, #919d8c, #4f584f);
  padding: 3vw;
  /* box-shadow: 34px 34px 60px #000; */
  z-index: 100;
  color: #1F2020;
}

.matrixWrapper h3 {
  text-align: center;
  color: #9AFE27;
  margin-bottom: 2vw;
}

.matrix {
  display: grid;
  grid-gap: 2vw;
  grid-template-columns: .8fr 1fr 1fr 1fr;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mItem {
  position: relative;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  border: .5px solid #000000;
  background: none;
  transition: all .7s ease;
  -webkit-transition: all .7s ease;
}

.text {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #D4D3A6;
  font-size: 1.3vw;
  transition: opacity 0.75s ease-in-out;
}

.column a {
  text-decoration: none;
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all .7s ease;
 -webkit-transition: all .7s ease;
}

.mItem:hover .overlay {
  opacity: 1;
}

.mItem:hover {
  background: #1F2020;
  text-shadow: none;
  transition: all .7s ease;
  -webkit-transition: all .7s ease;
}

.mItem:hover .text {
  opacity: 0;
}

#ss {
  height: 2.3vw;
}

#cn {
  height: 5.3vw;
}

#sp {
  height: 1.9vw;
}

#cs {
  margin-left: 0.2vw;
  height: 5vw;
}

#oc {
  height: 6.6vw;
  margin-top: .4vw;
}

#mmo {
  height: 4.2vw;
  margin-top: .2vw;
}

#wc {
  height: 6.2vw;
  margin-top: .5vw;
}

#mma {
  height: 6.2vw;
  margin-top: .1vw;
}

/* VIDEO */
.vidWrap {
  max-width: 70%;
  display: block;
  margin: 0 auto;
  padding-top: 20vw;
}

/* FOOTER */


.footer {
  color: #9AFE27;
  font-family: WalterAlte, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: .7rem;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.footer .content {
  max-width: 80%;
}

.cBox b {
  color: #9AFE27;
  font-family: "KapitolMedium";
  text-transform: uppercase;
}

.cBox a {
  color: #9AFE27;
}

.antiLogo {
  margin-top: 4vh;
  width: 60%;
  transition: all 0.5s ease;
}

.antiLogo:hover {
  filter: drop-shadow(0px 0px 10px #9AFE27);
}

.credit {
  max-width: 90vw;
  display: grid;
  grid-gap: 4vw;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr;
}

.cBox .c6 {
  grid-column: 1/6;
  grid-row: 2/3;
}


/* REPEATED STYLES */

.content {
  max-width: 75%;
  margin-top: 20vw;
}

.fullPage {
  min-width: 100%;
  min-height: 100%;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
      transform: translate(0, 0px);
  }

  50% {
      transform: translate(0, 15px);
  }

  100% {
      transform: translate(0, 0px);
  }
}


/* RESPONSIVE */

@media (max-width: 1700px) {
  h2 {
      font-size: 0.98rem;
  }
}

@media (max-width: 1350px) {
  h2 {
      font-size: 1.05rem;
  }

  h3 {
      font-size: 2.25rem;
  }

  h4 {
      font-size: 1.75rem;
  }

  .logo-alt img {
      width: 35vw;
  }

  .vidWrap {
      max-width: 75vw;
  }

  #ss {
    height: 4vw;
  }

  #cn {
    height: 10vw;
  }

  #cs {
    margin-left: 0.2vw;
    height: 9vw;
  }

  #oc {
    height: 11vw;
    margin-top: 0.6vw;
  }

  #wc {
    height: 10vw;
    margin-top: 0.6vw;
  }

  #mma {
    height: 10vw;
    margin-top: .1vw;
  }

}

@media (max-width: 1200px) {
  h3 {
      font-size: 1.8rem;
  }

  h4 {
      font-size: 1.45rem;
  }

  .mItem {
      width: 130px;
      height: 130px;
      transition: all .7s ease;
      -webkit-transition: all .7s ease;

  }

  .text {
      font-size: 16px;
  }

  .credit {
      grid-template-columns: 1fr 1fr 1fr;
  }

  .cBox.c4 {
      grid-row: 2/3;
      grid-column: 1/2;
  }

  .cBox.c5 {
      grid-column: 2/4;
  }

}

@media (max-width: 960px) {

  h3 {
      padding-bottom: 30px;
  }

  .logo-alt {
    position:relative;
  }

  .float {
    width: 100%;
    float: none;
  }

  #right {
    padding-left: 0;
    padding-top: 25px;
  }

  .mResp {
      display: none;
  }

  .matrixWrapper {
      background: none;
      padding: 0;
      box-shadow: none;
  }

  .matrix {
      grid-template-columns: 1fr 1fr 1fr;
  }

  .mItem {
      border: 2px solid #D4D3A6;
      transition: all .7s ease;
      -webkit-transition: all .7s ease;

  }

  .credit {
      display: flex;
      flex-direction: column;
      grid-gap: 0;
  }

  .sec1 .content {
      padding: 0;
      background: black;
      border-style: none;
      max-width: 75%;
  }

  .sec1 .content h2 {
      text-align: left;
  }



}

@media (max-width: 650px) {


  .matrix {
      grid-template-columns: 1fr;
      grid-gap: 4vw;
  }

  .mItem {
      width: 180px;
      height: 180px;
      transition: all .7s ease;
      -webkit-transition: all .7s ease;
  }

  .text {
      font-size: 20px;
  }

  .footer {
      font-size: .95rem;
  }

  #ss {
    height: 8.2vw;
  }

  #cn {
    height: 18.4vw;
  }

  #cs {
    margin-left: 0.2vw;
    height: 18vw;
  }

  #oc {
    height: 22.4vw;
    margin-top: 1vw;
  }

  #wc {
    height: 20.8vw;
    margin-top: 1.2vw;
  }

  #mma {
    height: 20.8vw;
    margin-top: .1vw;
  }

}
