// FONTS
$roboto-slab: 'Roboto Slab',
serif;
$open-sans: 'Open Sans',
sans-serif;

// COLORS
$primaryClr: #1F2020;
$secondClr: #9AFE27;
$thirdClr: #D4D3A6;
$bgClr: #747C74;
$txtClr: #ffffff;

// SIZES
$fontSize: 1.25rem;

// TRANSITIONS
$defaultTrans: all .7s ease;

html,
body {
    scroll-behavior: smooth;
    font-family: Arial;
    font-stretch: condensed;
    color: #fff;
    font-size: $fontSize;
    margin: 0px;
    background: $bgClr;
    transition: $defaultTrans;
    // height: 300%;

}

#header {
    height: 100%;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    transition: $defaultTrans;
}
#headerAlt {
    height: 60px;
}

header img {
    transition: $defaultTrans;
    height: 50px;
    padding: 20px 60px;
    // filter: invert(1);
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.browser {
    width: 1200px;
    padding: 30px 50px;
    min-height: 900px;
    // background-color: $primaryClr;
    border: 2px solid $thirdClr;
}